@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

@layer components {
  .header {
    @apply text-3xl font-bold text-center mb-4;
  }
}